.container {
    width: 900px;
    margin: 30px auto;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.mt-3 {
    margin-top: 20px;
}

.search {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}
mat-card-title {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}
mat-card {
    padding: 24px;
    border-radius: 10px;
}
.content-section {
    margin-top: 35px;
}